@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.motor {
    background: transparent;
    position: absolute;
    z-index: 3;
    min-width: 64px!important;
    min-height: 64px !important;
}
.motor1 {
    background: transparent;
    position: absolute;
    z-index: 3;
    min-width: 64px !important;
    min-height: 64px !important;
}

.slider {
  height: 90px;
  margin: auto;
  position: relative;
  width: 500px;

  /* before */
}

.slider::before {
  content: "";
  height: 100px;
  position: absolute;
  width: 100px;
  z-index: 2;
  left: 0;
  top: 0;
}

.sliderBox {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 0.375rem;
    overflow: hidden;
    width: inherit;
    box-shadow: 3px 4px 20px -2px rgb(0 0 0 / 51%);
}

.road {
    background: #000;
    width: inherit;
    position: absolute;
    height: 65px;
    bottom: 0;
    z-index: -1;
}

.slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 100px;
  z-index: 2;
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.sliderCloud {
  animation: scroll 295s linear infinite;
  display: flex;
  width: calc(250px * 14);
    z-index: 0;
}

.slideCloud {
    z-index: -1;
    height: 15px;
}
.slideHouse {
    width: 115px;
    top: 0;
    overflow: hidden;
}
.sliderHouse {
  position: absolute;
  animation: scroll 15s linear infinite;
  display: flex;
  width: calc(250px * 14);
  top: -35px;
}
.slideTrack {
  animation: scroll 5s linear infinite;
  display: flex;
  width: calc(250px * 14);
    margin-bottom: -5px;
}

.slide {
  height: 100px;
  width: 135px;
  border-bottom: 25px dotted #8bc34aa6;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font: 14px arial;
  border-radius: 30%;
  overflow: hidden;
}
