@import './variable';

.connect {
  position: fixed;
  top: 5%;
  left: 5%;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font: 14px arial;
}

.btn {
  background-color: var(--tw-color1);
  outline: none;
  border: none;
  color: var(--white);
  height: 48px;
  padding: 0 24px;
  border-radius: 999px;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;

  transition: background-color 300ms ease-in-out;
  transform-origin: center;
}

.btn:hover {
  background-color: var(--tw-color1-hover);
}

.btn:active {
  transform: scale(0.95);
}

.btn_log {
    max-height: 32px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 25px;
}

.flx_btn_between {
    display: flex;
    align-items: center;
	gap: 15px;
	cursor: pointer;
    &:hover,&:active {background-color: #FF5722;
             color: #fff;}
}

.address {
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.midCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font: 14px arial;
}

.container {
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 0 24px;
    max-width: 1124px;
}

.containerPlay {
    display: block;
}

.page {
  width: inherit;
  border-radius: 20px;
  border: 1px solid var(--tw-color1);
  padding: 16px;
}

.offcanvasBody {
    padding: 0;
    width: -webkit-fill-available;
}

.coverup {
    background: #dc3545;
    width: 100%;
    height: -webkit-fill-available;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.pageContainer {
  max-width: 600px;
  width: 90vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: row;
  gap: 2%;
  padding: 1rem;
}

.arrowButton {
  border-radius: 50%;
  width: 30px;
}

.owner {
  font-size: 1rem;
}

.titleRight {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header {
  background-color: #262936;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 72px;
  margin-bottom: 96px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 5%;
}

.right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-right: 5%;
}

.secondaryButton {
  cursor: pointer;
  text-align: center;
  padding: 5px;
  color: #fff;
  font-weight: 600;
}

.mainButton {
  cursor: pointer;
  display: inline-flex;
  appearance: none;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1.2;
  font-weight: 600;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 200ms;
  height: 2.5rem;
  min-width: 3rem;
  font-size: 1rem;
  background: #e5e5ea;
  background-image: linear-gradient(to left, #3f51b5 0%, #418dff 101.52%);
  color: #fff;
  width: 180px;
  text-align: center;
  border-radius: 9999px;
  border-style: none;
}

.mainButton:hover {
  box-shadow: 3px 2px 20px -5px rgb(0 0 0 / 50%);
}

.switchNet {
    display: flex;
    align-items: center;
    gap: 10px;
    width: auto;
    height: 42px;
    background-image: linear-gradient(to left, #8247e5 0%, #6336c1 101.52%);
    outline: 2px solid transparent;
    border-radius: 9999px;
    color: #fff;
    margin: auto;
}

.miniBtn {
    cursor: pointer;
    display: inline-flex;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    white-space: nowrap;
    vertical-align: middle;
    outline: 2px solid transparent;
    outline-offset: 2px;
    line-height: 1.2;
    font-weight: 600 !important;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 200ms;
    margin: auto;
    padding: 0 2rem;
    font-size: 1rem;
    background: #e5e5ea;
    background-image: linear-gradient(to left, #3f51b5 0%, #418dff 101.52%);
    color: #fff;
    text-align: center;
    border-radius: 9999px !important;
    border-style: none;
    max-height: 35px;
    min-width: 100px !important;
}
.miniBtn:hover {
    box-shadow: 3px 2px 20px -5px rgb(0 0 0 / 50%);
}
.ourCollection {
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.collectionContainer {
  width: 1200px;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

.h1 {
  margin-bottom: 0px;
}

.explain {
  font-size: 1.125rem;
}

.purple {
  color: #9f2c9d;
}

.divider {
  width: 50%;
  border-color: grey;
  opacity: 0.25;
}

.smallDivider {
  width: 25%;
  border-color: grey;
  margin-top: 64px;
  opacity: 0.25;
}

.textInput {
  width: 75%;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 8px;
  color: #fff;
  height: 48px;
  padding: 0 16px;
  font-size: 1rem;
  margin-bottom: 16px;
}

.imageInput {
  width: 100%;
  height: 100px;
  border: 1px dashed grey;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  cursor: pointer;
}

.contractBoxGrid {
  width: 1200px;
  max-width: 95vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1%;
  margin-top: 28px;
  flex-wrap: wrap;
}

.contractBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
  width: 32%;
  height: 200px;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 16px;
  padding-top: 25px;
}

/* Between 700px and 900px */
@media screen and (min-width: 700px) and (max-width: 900px) {
  .contractBoxGrid {
    gap: 2%;
  }

  .contractBox {
    width: 48%;
  }
}

@media screen and (max-width: 699px) {
  .contractBoxGrid {
    gap: 2%;
  }

  .contractBox {
    width: 98%;
  }
}

.nftBoxGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    max-width: 750px;
    margin: auto;
}

.nftBoxGridshop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    margin: auto;
}

.glass {
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	color: #000;
}

.nftBox {
  border-radius: 16px;
  padding: 20px;
  border: 1px solid #ccc;
  min-height: 200px;
  text-align: center;
background: rgba(255, 255, 255, 0.33);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.5px);
-webkit-backdrop-filter: blur(6.5px);
//border: 1px solid rgba(255, 255, 255, 0.3);
}
.nftBox:hover {
    box-shadow: 3px 2px 20px -5px rgb(0 0 0 / 47%);
}

/* Between 1200 and 800 */
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .nftBox {
    margin-top: 16px;
    padding: 20px;
    overflow: hidden;
    box-shadow: 3px 2px 20px -5px rgb(0 0 0 / 47%);
  }
}

/* beneath 800
*/
@media only screen and (max-width: 800px) {
  .nftBoxGrid, .nftBoxGridshop {
    grid-template-columns: 1fr 1fr;
  }
  .nftBox {
    margin-top: 16px;
    padding: 10px;
    overflow: hidden;
    box-shadow: 3px 2px 20px -5px rgb(0 0 0 / 47%);
  }
}

.tokenGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1%;
  width: 1200px;
  max-width: 95vw;
  flex-wrap: wrap;
  margin-top: 16px;
}

.tokenItem {
  width: 35%;
  height: 120px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.tokenLabel {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 600;
}

/* Second tokenLabel item */

.tokenValue {
  font-size: 1.3rem;
  margin-top: 8px;
  margin-bottom: 0px;
  font-weight: 500;
}

/* On Mobile, make tokenGrid 100% width */
@media only screen and (max-width: 850px) {
  .tokenItem {
    width: 90%;
    margin-top: 12px;
  }

  .mt_150 {
    margin-top: 50px;
  }
}
.mt_150 {
    margin-top: 10px;
}
/* Screen less than 630, then hide .center */
@media only screen and (max-width: 630px) {
  .center {
    display: none;
  }
}

.spacerTop {
  margin-top: 16px;
}

.bigSpacerTop {
  margin-top: 32px;
}

.spacerBottom {
  margin-bottom: 8px;
}

.cardName {
  margin-bottom: 0px;
}

.cardDescription {
  color: rgba(255, 255, 255, 0.7);
}

.headerLogo {
  width: 135px;
  cursor: pointer;
}

.verticalSpacer {
  color: grey;
  margin-left: 8px;
  margin-right: 8px;
}

.codeSnippet {
  text-align: start;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  width: 900px;
  max-width: 95vw;
  background-color: #282c34;
  overflow-x: auto;
  font-size: 1rem;
}

.noUnderline {
  text-decoration: none;
}

.detailPageContainer {
  max-width: 800px;
}

.detailPageHr {
  margin-top: 0px;
  margin-bottom: 32px;
}

.lightPurple {
  color: #e011a7;
}

.nftMedia {
	width: 100%;
	max-height: 300px;
    border-radius: 15px;
    object-fit: cover!important;
    box-shadow: 3px 4px 11px -4px #000000b8;
    overflow: hidden;
}

.amountToClaim {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 32px;
}

.noGapBottom {
  margin-bottom: 5px;
}

.noGapTop {
  margin-top: 0px;
}

.mainSection {
    width: 100%;
    min-height: 20rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    grid-gap: 30px;
}

/* On mobile */
@media screen and (max-width: 1000px) {
  .mainSection {
    grid-template-columns: 1fr;
    grid-gap: 15px;
    width: auto;
  }
}

.rewardBox {
    color: #121212;
    padding: 10px;
    display: block;
    border: 1px solid;
    border-radius: 0.375rem;
    width: -webkit-fill-available;
    box-shadow: 3px 4px 20px -2px rgb(0 0 0 / 51%);
	min-height: 224.05px;
}


.metamask {
    background: $metamask;
    display: block;
    width: 36px;
    height: 36px;
    background-size: contain;
    background-repeat: no-repeat;
}

.walletconnect {
    background: $walletconnect;
    display: block;
    width: 36px;
    height: 36px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.coinbase {
    background: $coinbase;
    display: block;
    width: 36px;
    height: 36px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.polygon {
    background: $polygon;
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fantom {
    background: $ftm;
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
